= form_for [ @book, Comment.new ], local: true do |f|
  .new_comment_block
    .comments_actions_block
      = f.button 'Cancel', type: :reset,  class: 'btn btn-sm btn-warning', style: 'width: 20%;'
      = f.submit 'Print', class: 'btn btn-sm btn-success', style: 'width: 20%;'
    #empty_block.div
    = f.text_area :text, class: 'text_area_block', placeholder: 'Print you comment here...'
    #empty_block2.div
