= form_for [ @book, @book.comments.build ], local: true, html: { style: 'width: 90%;' } do |f|
  .d-flex.justify-content-center.m-1
    %print_field_btn.btn.btn-primary Print comment
  .new_comment_block{ style: "display: none" }
    .captcha_block
      //= recaptcha_tags(theme: :light, ajax: :true, size: :compact)
      = f.submit 'Print', class: "btn btn-success btn-block"
    = f.text_area(:text, class: 'text_area_block')
