.d-flex.mt-1.justify-content-center
  .card{style: "width: 20rem;"}
    .card-body
      .info_text_block
        %span
          Correct book's data or get
        - if request.referer
          = link_to 'back', request.referrer
        - else
          = link_to 'back', book_path(@book)
      %br/
      = render 'edit', book: @book
