.d-flex.mt-2.justify-content-center
  .card
    .card-body
      .info_text_block
        %span
          Enter the data of a new book, or get
        - if request.referer
          = link_to 'back', request.referrer
        - else
          = link_to 'back', books_path
        %span
          to Books list
      %br/
      = render 'new', book: @book
