.d-flex.mt-1.justify-content-center
  .card{ style: "width: 20rem;" }
    .card-body
      .row
        .btn.btn-outline-primary.disabled
          %span
            Authorization
      %br/
      = render "devise/sessions/modal"
      = render "devise/shared/links"
