.page_content {
  table {
    background-color: #FFFFF0;

    td {
      padding: 0 2px;
      text-align: center;
      word-break: break-word;
    }
  }
}
#hist_coll {
  table {
    width: 100%;
    background-color: #FFFFF0;

    td, th {
      padding: 0 2px;
      text-align: center;
      word-break: break-word;
    }
  }
}

.single_envelope_block,
.book_envelope_block,
.book_title_block {
  position: relative;
  width: 100%;
  display: grid;
}
.book_envelope_block {
  padding: 0 10px;
  grid-template-columns: auto;
}
.single_envelope_block {
  padding: 0 0 0 10px;
  grid-template-columns: auto 40px;
}
.book_title_block {
  margin: 0;
  padding: 0 0 0 10px;
  grid-template-columns: auto 40px;

  .book_description {
    padding: 2px 5px;
    border: solid 1px #000;
    background-color: #FFFFF0;
    word-break: break-word;
  }
}
@media screen and (max-width: 479px) {
  .book_title_block,
  .single_envelope_block {
    grid-template-columns: auto;
    padding: 0 10px;
  }
}
@media screen and (min-width: 768px) {
  .single_envelope_block {
    grid-template-columns: auto 15px;
  }
}



